<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Expresiones
        </div>
        <div class="card-body">

          <p>Existen sName y nValor</p>
          
        </div>
        <div class="card-footer text-muted">
          <p> El nombre es {{sName.toUpperCase()}}</p>
          <p>El valor multiplicado por 8 es {{nValor*8}}</p>
          <p>Eres muy {{nValor<18?'joven':'sabio'}}</p>
        </div>
      </div>
    </div>
    
  </div>
</div>