<div class="container">
  <div class="row">
    <div class="col">
      
      <div class="card">
        <div class="card-header">
          Referencias locales
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="nombre">Escribe tu nombre y pulsa enter</label>
                <input type="text" #localNombre
                  class="form-control" name="nombre" id="nombre">
              </div>
              <div class="form-group">
                  <button type="button" class="btn btn-secondary"
                  (click)="true">Guardar</button>
                  <button type="button" class="btn btn-secondary"
                  (click)="localNombre.value=''">Borrar</button>
                </div>

        </div>
        <div class="card-footer text-muted">
          Hola {{localNombre.value}}
        </div>
      </div>


    </div>
    
  </div>
</div>
