<div class="container main">
    <div class="row">
        <div class="col text-center">
           
          <div class="card">
            <div class="card-header">
              Lista de tareas en angular 4
            </div>
            <div class="card-body">

              <div class="form-group">
               
                <input type="text"
                  class="form-control" name="tarea" id="tarea"
                   placeholder="Escribe una tarea"
                   [(ngModel)]="sTarea">
                   <button (click) = "addTarea()">Añadir</button>
          
              </div>   
              
              
            </div>
            <div class="card-footer text-muted">
              <div *ngIf="aTareas.length > 0; then hayTareas else noHayTareas"></div>
               
              <ng-template #hayTareas>
                  <h3>Tareas</h3>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let aTarea of aTareas; let i = index">
                      <p>{{i+1}} - {{aTarea}}</p>
    
                    </li>
                    </ul>
              </ng-template>

              <ng-template #noHayTareas>
                  <p>Sin tareas</p>
              </ng-template>
              
              
                
            </div>
          </div>

        </div>
        
    </div>
</div>